<main>
    <div class="section">
        <ul>
            <li class="in">
                <a href="#">Inicio</a>
            </li>
            <li>
                <span class="fas fa-angle-right"></span>
            </li>
            <li>
                <div class="insub">
                    <a (click)="Listar()">Administradores</a>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h4 class="adm-console">Administradores de la consola</h4>
    </div>
    <div class="barcontent">
        <ul>
            <li>
                <div class="input-group">
                    <span class="fas fa-search"></span>
                    <input placeholder="Buscar">
                </div>
            </li>
            <li>
                <a class="search-content">BUSCAR</a>
            </li>
            <li class="filter-content">
                <a class="fas fa-filter"></a>
            </li>
            <li class="barright">
                <a class="button-des">Descargar</a>
                <button class="button-add" (click)="Nuevo()">Agregar nuevo admin</button>
            </li>
        </ul>
    </div>

    <div class="table-content">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr class="columnas">
                    <th><input type="checkbox"></th>
                    <th>
                        <ul>
                            <p>Administradores</p>
                        </ul>
                    </th>
                    <th>
                        <p>Área</p>
                    </th>
                    <th>
                        <p>Correo electrónico</p>
                    </th>
                    <th>
                        <p>Estatus</p>
                    </th>
                    <th>
                        <p>Detalles</p>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let administrator of administrators">

                <tr class="filas">
                    <td><input type="checkbox"></td>
                    <td>
                        <ul class="user-profile">
                            <li>
                                <img class="image-user" src="assets/images/{{administrator.icon}}" alt="Imagen usuario">
                            </li>
                            <li>
                                <p>{{administrator.names}} {{administrator.last_name}}</p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <p>{{administrator.area}}</p>
                    </td>
                    <td>
                        <p>{{administrator.email}}</p>
                    </td>
                    <td *ngIf="administrator.status == true; else setInactive">
                        <p class="status-active">ACTIVO</p>

                    </td>
                    <ng-template #setInactive>
                        <td>
                            <p class="status-inactive">INACTIVO</p>
                        </td>
                    </ng-template>
                    <td>
                        <ul class="ul-actions">
                            <li>
                                <button (click)="Edit(administrator)" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                            </li>
                            <li>
                                <button id="btn-abrir-popup" (click)="Delete(administrator)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>
                            </li>

                            <li>
                                <button (click)="Show(administrator)" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></button>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</main>
